name: Pixi Builds
on: [workflow_dispatch, push, pull_request]

jobs:
  build_with_pixi:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 3
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest, macos-13]

    steps:
    - uses: actions/checkout@v2
      name: Checkout

    - uses: prefix-dev/setup-pixi@v0.8.1
      with:
        pixi-version: v0.39.5
        cache: true
    - run: pixi run build
    - if: matrix.os == 'ubuntu-latest'
      run: pixi run -e cross build

    - uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: leparagliding*
        tag: main
        overwrite: true
        file_glob: true
